<div class="panel panel-primary">
  <div class="panel-heading"><h4>Listagem - Requisições de Urgência</h4></div>
</div>

<% if backofficer_signed_in? %>
  <div class="centered">
    <td><%= link_to 'Nova Requisição de Urgência', new_incident_path, class: "btn btn-success" %></td>
  </div>
  <br />
<% end %>

<%= render 'search' %>

<div class='basic-grey'>
  <div class='centered' id='list_incidents'>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Resumo do Problema</th>
          <th>Nível de Prioridade</th>
          <th>Reportador por</th>
          <th>Aberto Em</th>
          <th>Última Atualização</th>
          <th>Status</th>
          <th>Analista</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'incidents/partials/list_incidents', locals: { incidents: @incidents } %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel-heading centered"><%= will_paginate @incidents %></div>
