<div class="panel panel-primary">
  <div class="panel-heading">Detalhes do Requisição</div>
    <%= render partial: 'incidents/partials/show/info_panel' %>
  <hr>
    <%= render partial: 'incidents/partials/show/evidence_screen_panel' %>
  <hr>
  <%= render partial: 'incidents/partials/show/additional_details_panel' %>
</div>


<div class="text-center">
  <%= render partial: current_user_actions, locals: { incident: @incident } %>
</div>
