@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";
@import "style";
@import "animate-css";

td {
  padding: 5px;
  padding-left: 0px
}

#options_content{

  width: 100%;
  height: 700px;
  padding: 20px 0px 20px 0px;
  /*border: 1px solid #ffffff;*/
  border-radius: 5px 25px;

  /*flexbox*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#home_options{

  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.centered
{
  text-align:center;
}

.child{
  display: block;
  width: 35%;
  height: 30%;
  border: 1px solid #000;
  border-radius: 5px;
}

.logo{
  font-family: "Impact";
  color: #ffffff;
}

.user_info{
  background-color: #F5F5F5;
  border: 2px solid #000;
  border-radius: 5px 15px;
  padding: 10px;
}

.user_info span{
  font-family: "Times New Roman", times, serif;
  font-size: 16px;
}

.jumbotron{
  border: 2px solid #000;
}

.panel-heading {
  padding: 4px 15px !important;
}

[data-notify="container"] {
  text-align: center;
}

/** Bootstrap Notify **/
[data-notify="progressbar"] {
  margin-bottom:  0px;
  position:  absolute;
  bottom:  0px;
  left:  0px;
  width:  100%;
  height:  5px;
}

#new_backofficer, #new_analyst {
  .control-label {
    padding-left: 0px;
  }
}

.logo {
  margin-left: 10px;
}

#list_incidents {
  th {
    text-align: center;
  }
}

.navbar-default {
  margin-bottom: 0px;
}

.table thead tr th {
  text-align: center;
}

.table tbody tr td {
  text-align: center;
}
